spring:
  application:
    name: service-user
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      discovery:
        username: nacos
        password: 1779614188  # 建议使用环境变量或配置中心存储敏感信息

server:
  port: 9005

jwt:
  secret: "6f9d8c7b-3a2e-4f1a-9b1e-23f9c4d8e7a6#@!XyZ"  # 替换为安全的密钥
  expire-minutes: 5